*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: whitesmoke;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
   
}

.immagini{
   display: flex;
   justify-content: center;
   align-items: center;
   row-gap: 4em;
   column-gap: 2em;
   flex-wrap: wrap;
   margin-top: 20em;
}
.immagini img{
    border-radius: 15px;
    width: 40em;
    height: 30em;
}
.immagini-items {
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
button{
    margin-top: 10px;
    width: 150px;
    font-size: 25px;
    background-color: rgb(82, 63, 97);
    padding-bottom: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px gray;
}
button:hover{
    background-color: rgb(240, 241, 222);
    color: rgb(33, 32, 32);
   
}
button:active{
    background-color: antiquewhite;
    color: black;
}
.cart{ 
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
    margin-top: 1em;
    position: relative;
   
    
}
.cart img{
    background-color: antiquewhite;
    width: 3em;
    border-radius: 8px;
}
.cart p {
    display: none;
    background-color: rgb(127, 26, 221);
    border-radius: 12px;
   color: white;
   position: absolute;
   padding: 3px;
}
#cart-button {
    
}